<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>relatorioPGDASCompleto</servlet-name>
        <servlet-class>br.jonatas.Simples.Controle.relatorioPGDASCompleto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pgdasControleImpressao</servlet-name>
        <servlet-class>br.jonatas.Simples.Controle.PgdasImpressaoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PgdasNFSEimpressaoControle</servlet-name>
        <servlet-class>br.jonatas.Simples.Controle.PgdasNFSEimpressaoControle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>relatorioPGDASCompleto</servlet-name>
        <url-pattern>/relatorioPGDASCompleto/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pgdasControleImpressao</servlet-name>
        <url-pattern>/pgdasControleImpressao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PgdasNFSEimpressaoControle</servlet-name>
        <url-pattern>/PgdasNFSEimpressaoControle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
